<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.heytz.pushService" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>ServiceWrapper</name>
    <js-module name="ServiceWrapper" src="www/ServiceWrapper.js">
        <clobbers target="cordova.plugins.ServiceWrapper"/>
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ServiceWrapper">
                <param name="android-package" value="com.heytz.pushService.ServiceWrapper"/>
            </feature>
        </config-file>
        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <activity android:name="com.heytz.pushService.KeepAlive_Activity"
                      android:configChanges="keyboardHidden|orientation"
                      android:excludeFromRecents="true"
                      android:exported="false"
                      android:finishOnTaskLaunch="false"
                      android:launchMode="singleInstance"
                      android:screenOrientation="portrait"/>
            <!--android:theme="@style/AliveActivity_style"/>-->
            <service android:enabled="true" android:label="Heytz Push Notifications Service" android:name="com.heytz.pushService.Service" >
                <intent-filter android:priority="1000">
                    <action android:name="com.heytz.pushService.ACTION_START" />
                </intent-filter>
            </service>
            <activity android:configChanges="orientation|keyboardHidden" android:exported="false" android:name="cn.jpush.android.ui.PushActivity" android:theme="@android:style/Theme.NoTitleBar">
                <intent-filter>
                    <action android:name="cn.jpush.android.ui.PushActivity" />
                    <category android:name="android.intent.category.DEFAULT" />
                    <category android:name="com.heytz.delinb" />
                </intent-filter>
            </activity>
            <service android:exported="false" android:name="cn.jpush.android.service.PushService" android:process=":mult">
                <intent-filter>
                    <action android:name="cn.jpush.android.intent.REGISTER" />
                    <action android:name="cn.jpush.android.intent.REPORT" />
                    <action android:name="cn.jpush.android.intent.PushService" />
                    <action android:name="cn.jpush.android.intent.PUSH_TIME" />
                </intent-filter>
            </service>
            <receiver android:enabled="true" android:exported="false" android:name="cn.jpush.android.service.PushReceiver">
                <intent-filter android:priority="1000">
                    <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                    <category android:name="com.heytz.delinb" />
                </intent-filter>
                <intent-filter>
                    <action android:name="android.intent.action.USER_PRESENT" />
                    <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                </intent-filter>
                <intent-filter>
                    <action android:name="android.intent.action.PACKAGE_ADDED" />
                    <action android:name="android.intent.action.PACKAGE_REMOVED" />
                    <data android:scheme="package" />
                </intent-filter>
            </receiver>
            <receiver android:exported="false" android:name="cn.jpush.android.service.AlarmReceiver" />
            <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default" />
            <meta-data android:name="JPUSH_APPKEY" android:value="12f939096b45846b19b02ce4" />
        </config-file>
        <config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.WAKE_LOCK"/>
            <uses-permission android:name="com.heytz.delinb.permission.JPUSH_MESSAGE" />
            <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.WRITE_SETTINGS" />
            <uses-permission android:name="android.permission.VIBRATE" />
            <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
            <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
            <uses-permission android:name="android.permission.GET_TASKS" />
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.FLASHLIGHT" />
            <uses-feature android:name="android.hardware.camera" android:required="true" />
            <permission android:name="com.heytz.delinb.permission.JPUSH_MESSAGE" android:protectionLevel="signature" />
        </config-file>
        <source-file src="src/android/ServiceWrapper.java" target-dir="src/com/heytz/pushService"/>
        <source-file src="src/android/ConnectionLog.java" target-dir="src/com/heytz/pushService"/>
        <source-file src="src/android/Service.java" target-dir="src/com/heytz/pushService"/>
        <source-file src="src/android/KeepAlive_Activity.java" target-dir="src/com/heytz/KeepAlive_Activity"/>
        <source-file src="libs/org.eclipse.paho.client.mqttv3.jar" target-dir="libs"/>
        <source-file src="libs/eventbus-3.1.1.jar" target-dir="libs"/>
        <source-file src="libs/jpush-android-3.1.1.jar" target-dir="libs"/>
        <source-file src="libs/jcore-android-1.1.9.jar" target-dir="libs"/>
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="ServiceWrapper">
                <param name="ios-package" value="ServiceWrapper"/>
            </feature>
        </config-file>
        <source-file src="src/ios/PushService.m"/>
        <source-file src="src/ios/Constants.h"/>
        <source-file src="src/ios/AppDelegate+pushService.m"/>
    </platform>

</plugin>