<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.heytz.pushService" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>ServiceWrapper</name>
    <js-module name="ServiceWrapper" src="www/ServiceWrapper.js">
        <clobbers target="cordova.plugins.ServiceWrapper"/>
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ServiceWrapper">
                <param name="android-package" value="com.heytz.pushService.ServiceWrapper"/>
            </feature>
        </config-file>
        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <service android:name="com.heytz.pushService.Service"
                     android:label="Heytz Push Notifications Service"></service>
        </config-file>
        <source-file src="src/android/ServiceWrapper.java" target-dir="src/com/heytz/pushService"/>
        <source-file src="src/android/ConnectionLog.java" target-dir="src/com/heytz/pushService"/>
        <source-file src="src/android/Service.java" target-dir="src/com/heytz/pushService"/>
        <source-file src="libs/org.eclipse.paho.client.mqttv3.jar" target-dir="libs"/>
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="ServiceWrapper">
                <param name="ios-package" value="ServiceWrapper"/>
            </feature>
        </config-file>
        <source-file src="src/ios/PushService.m"/>
        <source-file src="src/ios/Constants.h"/>
        <source-file src="src/ios/AppDelegate+pushService.m"/>
    </platform>
</plugin>